body {
    background-color: #24B7DE;
    font: 1em sans-serif;
}

header .css-1l02zno {
    background-color: #1180BB;
    color: #ffffff;
}


/* custom_theme = {
    "primaryColor": "#1180BB",
    "backgroundColor": "#24B7DE",
    "secondaryBackgroundColor": "#1180BB",
    "textColor": "#FAFAFA",
    "font": "sans serif"
} */